<ion-nav-header class="bar-header bar-positive bar">
  <h1 class="qb-title title">Qu<i class="ion-fork"></i>ckByte</h1>
  <div class="header-options">
    <button id="qb-settings" class="button button-icon icon ion-navicon-round" ng-controller="QbSettingsCtrl" ng-click="toggleRight($event)"></button>
  </div>
</ion-nav-header>
<!--content-->
<ion-content padding="true" class="has-header bkg-img">
  <ion-list id="results">
    <!-- RESTAURANT RESULTS GOES INTO THIS DIV - Dynamically created in yelpAPI.js   -->
  </ion-list>
</ion-content>